.blogPage {

    p {
        margin-top: 50px;
        margin-left: 300px;
        margin-bottom: 30px;
        font-size: 20px;
        color: gray;
    }

    h1 {
        text-decoration: underline;
        margin-left: 300px;
        text-decoration-color:#f7f8fa ;
        color: #01004d;
    }
    .under {
        margin-top: -10px;
        margin-left: 300px;
        font-size: 16px;
        color: #a19fa0;
    }

    p {
        width: 700px;
        font-size: 18px;
        font-weight: lighter;
        color: #a19fa0;

        .bb {
            color: gray;
            }
        }

        .bsl {
            font-weight: bold;
            color: gray;
        }
        ul {
                font-size: 18px;
                width: 700px;
                margin-left: 300px;
                color: #a19fa0;
        }

        .next {
            text-decoration: underline;
            font-weight: lighter;
            margin-left: 300px;
            font-size: 17px;
            text-decoration-color:#f7f8fa ;
            color: #01004d;
        }
    }
